.policy {
    margin-top: 200px;
}

.policy-title {
    color: var(--neutral-black, #000);

    font-family: "Albert Sans";
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%; /* 57.6px */
    letter-spacing: -1.92px;
    text-transform: uppercase;
}

.policy-subtitle {
    color: var(--neutral-black, #000);

    /* body medium */
    font-family: "Albert Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    margin: 80px 0 24px 0;
}

.policy-text {
    color: var(--neutral-black, #000);

/* body medium */
font-family: "Albert Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 26px */
max-width: 866px;
width: 100%;
opacity: 0.7;
}

.policy-inner {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.policy-num {
    color: var(--neutral-black, #000);

    /* H3 */
    font-family: "Albert Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.orange {
    color: #F2A81A;
}

.policy-inner-text {
    color: var(--neutral-black, #000);

    /* body medium */
    font-family: "Albert Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    opacity: 0.7;
}